/*
 * sidescroll.js demo styles
 */

*,
*:after,
*:before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    min-width: 768px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1em;
    margin-top: 0;
    margin-right: 26rem;
    padding-top: .5em;
    white-space: nowrap;
}

h1 small {
    font-size: .6em;
    font-weight: 400;
    font-family: monospace;
    display: block;
    white-space: normal;
}

p {
    margin: 0 0 1em;
}

img {
    max-width: 100%;
}

.main {
    position: relative;
    min-height: 100%;
}

.content-inner-wrap {
    margin-left: 8rem;
    max-width: 90rem;
    padding: 0 3rem 3rem;
}

.sidebar {
    float: left;
    width: 8rem;
    min-height: 100%;
}

.sidebar:after {
    background-color: #4a90e2;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 8rem;
    z-index: 1;
}

.sidebar.is-fixed {
    position: fixed;
    top: 0;
}

.sidebar-item {
    position: relative;
    z-index: 2;
    background-color: #4a90e2;
    color: #f5f5f5;
    display: block;
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
    height: 8rem;
    text-align: center;
    line-height: 6rem;
    text-decoration: none;
    transition: transform .25s linear;
    text-shadow: 2px 2px 0 #2c2e38, 3px 3px 0 #5c5f72;
}

.sidebar-item:hover {
    transform: scale(.75);
}

.sidebar-item:active {
    transform: scale(1);
}

.btn {
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: #3fb2ed;
    border-radius: 3px;
    color: #fff;
    padding: 1em 1.5em;
    position: relative;
    top: -4rem;
    transition: background-color .15s linear;
}

.btn:focus {
    outline: 0;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.example-cell {
    width: 50%;
    vertical-align: top;
}

.btn:hover {
    background-color: #2d7ea8;
}

.btn:active {
    transform: scale(.95);
}

.examples-table th {
    text-align: left;
    font-family: monospace;
    font-size: 2rem;
}

.examples-table th,
.examples-table td {
    padding: .5rem 1.5rem;
    vertical-align: top;
}

.examples-table th:first-child,
.examples-table td:first-child {
    padding-left: 0;
}

.examples-legend {
    margin: 2rem 0;
    padding: 0;
}

.examples-legend li {
    display: inline-block;
    font-family: monospace;
    margin-right: 1rem;
}

.example-square-window,
.example-square-sidebar,
.example-square-content {
    position: relative;
    top: 2px;
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid;
    border-radius: 1px;
}

.example-square-window {
    background-color: #fff;
}

.example-square-sidebar {
    background-color: #4a90e2;
}

.example-square-content {
    background-color: rgba(124, 179, 2, .5);
}

.main-example .content {
    background-color: rgba(124, 179, 2, .4);
}

.jumbo-links {
    float: right;
    margin: 4rem 0;
}

.jumbo-links .btn {
    border: 2px solid #3fb2ed;
    background-color: #fff;
    color: #3fb2ed;
    transition-duration: .15s;
    transition-timing-function: linear;
    transition-property: color, border-color;
    margin-left: 1.5rem;
    position: static;
}

.jumbo-links .btn:hover {
    border-color: rgba(124, 179, 2, .8);
    color: rgba(124, 179, 2, .8);
}

.jumbo-links img {
    opacity: .7;
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.color-secondary {
    color: rgba(124, 179, 2, .8);
}

.btn-bar {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.btn-bar .btn {
    display: block;
    top: 0;
    padding: .75em 1.25em;
    box-shadow: 2px 2px 5px rgba(0,0,0,.25);
    margin-bottom: .5em;
    margin-left: auto;
    min-width: 170px;
}

hr {
    border-top: 1px solid;
    border-bottom: none;
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-bar hr ~ .btn {
    min-width: 120px;
}