/*
 * sidescroll.js demo styles
 */

*,
*:after,
*:before {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	line-height: 1.4;
	color: #666;
}

h1 {
	margin-top: 0;
	padding-top: 1em;
}

p {
	margin: 0 0 1em;
}

.main {
	position: relative;
	min-height: 100%;
}

.content {
	margin-left: 8rem;
	max-width: 90rem;
	padding: 0 3rem 3rem;
	text-align: justify;
}

.sidebar {
	float: left;
	width: 8rem;
	min-height: 100%;
}

.sidebar:after {
	background-color: #303030;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	top: 0;
	width: 8rem;
	z-index: -1;
}

.sidebar.is-fixed {
	position: fixed;
	top: 0;
}

.sidebar-item {
	background-color: #303030;
	color: #f5f5f5;
	display: block;
	font-size: 3rem;
	font-weight: 600;
	padding: 1rem;
	height: 8rem;
	text-align: center;
	line-height: 6rem;
	text-decoration: none;
	transition: background-color .15s linear;
	text-shadow: 2px 2px 0 #2c2e38, 3px 3px 0 #5c5f72;
}

.sidebar-item:hover {
	background-color: #505050;
}